.main-nav{
    display: flex;
    justify-content: space-between; 
    padding-top: 1rem;

    &__logo{
        height: 70px;
        width: 70px;
    }
    &__items{
        display: flex;
        
        li{
            padding: 1rem 0.8rem;
        }

        a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            border-bottom: 3px transparent solid;
            padding-bottom: 0.5rem;
            transition: border-color 0.5s;
            font-size: 17px;
            

            &:hover{
                border-color: $pink-color;

            }
            
        }
    }
}
#header{
    &__home{
        background-image: $bg-image;
    
        height: 90vh;
        color: #fff;

        .header-content{
            text-align: center;
            padding-top:20%;
        
        }
        h1{
            font-size: 4rem;
            line-height: 1.2;
        }
        .typewrite{
            display: block;
        }
        span{
            margin-top:40px;
        }
        a{
            margin-top: 50px;
        }
    }
    &__inner{
        background: url('/public/img/bg.jpeg') no-repeat 40% 20% /cover;
        height: 5.5rem;
        border-bottom:3px solid $pink-color;
    }
}